<div class="container">
    <div class="row">
      <h4 class="text-center text-primary m-3"> Short URL</h4>
    </div>

    <form  (ngSubmit)="onSubmit()">
        <label for="originalUrl">Original URL:</label>
        <input type="text" id="originalUrl" name="originalUrl" [(ngModel)]="originalUrl" required>
        <button type="submit">Create Short URL</button>
      </form>
      

    <!-- <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="row shadow mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="input-group mb-1 mt-1">
                        <input type="text" class="form-control" placeholder="Enter URL"  
                            aria-label="Recipient's username" aria-describedby="button-addon2" 
                            [(ngModel)]="model.originalUrl" [ngModelOptions]="{ standalone: true }">
                        <button class="btn btn-outline-primary" type="submit" id="button-addon2">Generate</button>
                    </div>
                </div>
            </div>
        </div>
    </form> -->
</div>