@model UrlShortenerWeb.Models.ShortUrl

<!DOCTYPE html>
<html>
<head>
    <title>Delete All URL</title>
</head>
<body>
    <h1>Delete All URL</h1>

    <form asp-action="DeleteAllUrls" method="post">
        <button type="submit" class="btn btn-primary">Delete All</button>
    </form>
</body>
</html>
