<div class="container">
  <!-- Short URLs Table -->
  <div>
    <h1 class="mt-3">Short URLs Table</h1>
    <div class="d-flex justify-content-end mt-3">
      <a *ngIf="isAuthorized()" [routerLink]="['/shortUrl/create']" class="btn btn-primary">
          Add new Short URL
      </a>
      <button *ngIf="isAdmin()" (click)="onDeleteAllUrls()" class="btn btn-danger ml-2">
        Delete All URLs
      </button>
      <div *ngIf="allUrlsDeletedMessageVisible" class="alert alert-success mt-3">
        All URLs have been deleted successfully.
      </div>
    </div>
  </div>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>Original URL</th>
        <th>Shortened URL</th>
        <th *ngIf="isAuthorized()">Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Table rows will be populated dynamically using Angular -->
      <tr *ngFor="let shortUrl of shortUrls">
        <td>{{ shortUrl.originalUrl }}</td>
        <td>{{ shortUrl.shortenedUrl }}</td>
        <td *ngIf="isAuthorized()">
          <!-- Action buttons for authorized users -->
          <button  (click)="infoUrl(shortUrl.id)" class="btn btn-sm btn-primary mr-2">View Details</button>
          <button *ngIf="canDelete(shortUrl)" (click)="deleteUrl(shortUrl.id)" class="btn btn-sm btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
