@using UrlShortenerWeb.Areas.Identity.Data
@model UrlShortenerWeb.Models.Description
@inject Microsoft.AspNetCore.Identity.UserManager<UrlShortenerWeb.Areas.Identity.Data.ApplicationUser> UserManager


<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<body>
    <h1>About</h1>

    <div>
        @if (Model != null && Model.Content != null)
        {
            <div>
                <h2>Description of the URL Shortener algorithm:</h2>
                <p>@Model.Content</p>
            </div>
        }
        else
        {
            <div>
                <p>No description available</p>
            </div>
        }
    </div>
    @{
        var user = await UserManager.GetUserAsync(User);
        bool isAdmin = false;
        if (user != null)
        {
            isAdmin = await UserManager.IsInRoleAsync(user, Roles.Admin);
        }
    }
    @if (isAdmin)
    {
        <a asp-controller="Admin" asp-action="EditDescription" asp-route-id="@Model.Id">Edit Description</a>
    }
</body>
</html>

